<div class="container">
    <div class="row">
        <div class="col-md-6 col-centered">
            <h2>Find your hashtags!</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <span class="input-group-addon">#</span>
                    <input type="text" class="form-control input-lg" placeholder="Put your hashtag here.."/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

