<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customAccessToken" class="pl.edu.agh.tai.app.token.CustomAccessToken"/>
    <!--   enter your key and secret -->
    <bean id="oAuthToken" class="pl.edu.agh.tai.app.token.OAuthToken">
        <property name="consumerKey" value="Xm1911YzS3pIQBfWHdLPwewzr"/>
        <property name="consumerSecret" value="29Vls1LQaLMZ79H8QJm5MBsPJjRX5nIQ6ZiHi5RPOlSbRZN1FH"/>
    </bean>
</beans>