<section id="login">
    <div class="main-login main-center">
        <div class="panel-heading">
            <div>
                <img src="assets/Twitter-Logo-Hashtag.png" id="logo"/>
            </div>
        </div>
        <div class="container">
            <div class="form-wrap">
                <h1>Log in to your account</h1>
                <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                    <input type="submit" id="btn-login" class="btn btn-lg btn-block" value="Log in"
                           ui-sref="home">
                </form>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <p><strong>Copyright: </strong> Chrzastek, Wrona</p>
        </div>
    </div>
</footer>

