<div class="row">
    <div class="list">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Friends</span>
                <ul class="pull-right c-controls">
                    <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top"
                           title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                    <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip"
                           data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>

            <div class="row" style="display: none;">
                <div class="col-xs-12">
                    <div class="input-group c-search">
                        <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <input class="btn btn-default" type="image" src="/assets/search_icon.png"/>
                            </span>
                    </div>
                </div>
            </div>

            <ul class="list-group" id="contact-list">
                <li class="list-group-item" ng-repeat="friend in friends">
                    <div class="col-xs-12 col-sm-3">
                        <img src="/assets/icon_user_default.png" alt="Scott Stevens"
                             class="img-responsive img-circle"/>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <span class="name">{{friend.username}}</span>
                        <span class="details">({{friend.email}})</span>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title" id="mySmallModalLabel">Add friend</h4>
            </div>
            <div class="modal-body">
                <p>Type your friend's username</p>
                <input type="text" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-custom" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>
